@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&display=swap');
html {}

body {
  font-family: 'Rubik', sans-serif;
  padding: 0;
  margin: 0;
  background-color: #121212 !important;
}

a {
  color: white;
  text-decoration: none;
}


/*// Nav bar */
.rect {

  width: 100%;

}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  align-items: center;
  height: 70px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  
  padding: 0 auto;

}

.Logo {
  width: 30%;
  margin: 1em 1em;
}

.items--nav {
  color: #eee;
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em 1.2em;
  list-style: none;
  cursor: pointer;

}

.items--nav--social--btn button {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 0.4em;
  margin: 0 0.2em;
  background-color: transparent;
  cursor: pointer;
  transition: 1s;



}

.items--nav--social--btn button:hover {


  background-image: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);

}


.Contact {
  background-color: transparent;
  border: none;
  border: 1px solid #eee;
  padding: 1em 1.7em;
  color: #eee;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;


}

.Contact:hover {

  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
}

/*///////////////////banner  */
.main {
  background-image: url('../public/banner-bg.png');
  background-size: cover;
  background-repeat: no-repeat;

  height: 120vh;
  width: 100%;

}

.flex {
  color: #eee;
  display: flex;
  position: relative;
  top: 10em;
  align-items:center;
justify-content: space-between;
  width: 100%;

}


.chkil--img {

width: 100%;
margin: 0;
 animation: updown 3s linear infinite;

}

.box-svg {
  width: 40%;
  

}

.text {
  width: 60%;
  margin-left: 2em;
  margin-top: 3em;
  
}

.title {
  font-size: 1.3rem;
  display: inline-block;
  margin-bottom: 2em;
  padding: 0.5em;
  border: 1px solid rgba(255, 255, 255, 0.397);
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);

  

}




.toAnimate {
  font-size: 3em;
 

}

.writeEffect {


  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .01em solid rgba(180, 180, 180, 0.644);
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  animation-delay: 1.5s;
  animation:
    typing 3.5s steps(40, end) infinite,
    blink-caret .75s step-end infinite;
}

.text p {
  font-weight: 200;
  line-height: 1.6em;
  text-align: justify;

}

.box--flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3em;

}

.box--flex a {
  transition: all 1s linear;
  cursor: pointer;
}

.box--flex a:hover {

  text-shadow: 0 0 3vw #fffdfd;

}

.arrowRight {
  margin-left: 0.5em;
}


/**************Skills********************/
.skills--container--flex {
  color: #eee;
  border-radius: 20px;
  width: 70%;
  position: relative;
  top: -2.5em;
  left: 50%;
  transform: translateX(-50%);
  background-color: #151515;
  padding-bottom: 2em;



}

.text--skill--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;

}

.text--skill--flex p {
  font-weight: 300;
  text-align: center;
  line-height: 1.3em;
}


.carousel--container {
  margin: 0 auto;
  width: 90%;

}

.img--circle {
  width: 50%;
  margin: 0;

}

.carousel--skills {
  margin: 1.2em auto;
  width: 100%;

}

.circle {
  text-align: center;

}

.bg--skills {
  background: url('../public/color-sharp.png');
  background-position: left cover;
  background-repeat: no-repeat;
}


/*****************Projects***************/
.project--sections {
  width: 100%;
  background-color: black;
  color: #eee;
  text-align: center;
  min-height: 500px;
  padding-bottom: 3em;

}

.project--text {
  padding: 2em;

}

.project--text h1 {
  font-size: 2em;
  margin-bottom: 2em;
}

.project--text p {
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 1.3rem;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 2.5em;
}



.tab--project {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;

  width: 60%;
  height: 100%;
  margin: 0 auto;
  /*   border: 1px solid magenta; */
  height: 3em;
  border-radius: 20px;
  align-items: center;
}

.btn {
  border: 1px solid rgba(238, 238, 238, 0.466);
  color: #eee;
  background-color: transparent;
  height: 100%;
  font-weight: 800;
  cursor: pointer;
  transition: 1s;

}

.num1 {
  border-radius: 20px 0 0 20px;

}

.num3 {
  border-radius: 0 20px 20px 0;
}

.jobs--grid {


  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  width: 90%;
  margin: 0 auto;
  margin-top: 2em;
}

.jobs--grid img {
  width: 100%;
}

.descriptions1 {

  width: 48%;
  margin: 0 auto;
  margin-top: 2em;
  font-weight: 100;

}

.card {
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.proj-imgbx::before {
  content: "";

  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  top: 0;
  border-radius: 25px;
  transition: 0.5s;

  background-color: rgba(206, 124, 202, 0.773);
}

.proj-imgbx:hover::before {
  height: 99%;

}

.proj-imgbx:hover {}

.proj-imgbx:hover .proj-txtx {

  opacity: 1;
}

.proj-imgbx {
  position: relative;
}

.proj-txtx {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  left: 50%;
text-align: center;
  transform: translateX(-50%) ;
  font-size: 2em;
  opacity: 0;
  line-height: 0.2em;




}
.proj-txtx h4{font-size:1.8rem ;font-family: 'Edu VIC WA NT Beginner', cursive; }

/********************************Contact*******************************/
.contact--sec {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding-bottom: 3em;
  text-align: center;

}

.contenair--flex {
  width: 100%;

  display: flex;
  padding-bottom: 3em;

}

.contact--box {
  display: flex;

  width: 60%;
  margin-top: 8em;
  justify-content: center;
  align-items: center;

}

.contact--box img {
  width: 70%;

}

.form--box {
  display: flex;
  flex-direction: column;

  width: 50%;

}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5em;
  width: 90%;

  justify-content: center;
  align-items: center;



}

.grid input,
textarea {
  font-weight: 500;
  text-indent: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  height: 4rem;
  color: #eee;
  font-size: 1rem;

}

.grid input::placeholder,
textarea::placeholder {
  color: #eee;

}
.grid textarea::placeholder {
  padding-top: 1em;
}

.grid textarea {
  grid-column: 1/3;
  width: 100%;
  height: 9rem;
}

.getIn {
  font-size: 3rem;
  color: white;
  margin: 1em 0;

}

.btn--send {
    max-width: 100px;
    height: 3em;

  background-color: #fffdfd;
  border: none;
  font-size: 1em;
  font-weight: 800;
  cursor: pointer;
  margin-top: 1em;
  transition: 0.3s;
  text-align: center;
}

.btn--send:hover {
  color: #eee;
  background-color: #121212;

}

/*****************************NewsLAtter*******************************/


.news--box--flex {
  background-color: #eee;
  width: 70%;
  position: absolute;
  border-radius: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  height: 14rem;
  top:-4em;
  align-items: center;
}

.news--text {
  width: 40%;
  padding: 0 2em;
  font-size: 1.5rem;



}

.news--form {
  display: flex;
  justify-content: space-between;
  height: 4rem;

  width: 55%;
  border: 1px solid rgba(0, 0, 0, 0.219);
  border-radius: 20px;
  margin-right: 1em;



}

.news--form input {
  background-color: transparent;
  border: none;
  width: 70%;
  height: 4rem;
  border-radius: 20px;
  text-indent: 10px;
  font-weight: 600;
}

.btn--sub--news {
  border: none;
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  height: 80%;
  margin: auto;
  border-radius: 15px;
  padding: 1.2em 3.5em;
  color: white;
  font-weight: 500;
  text-align: center;
  cursor: pointer;


}
.btn--sub--news:hover {
animation:scale 1s linear forwards ;
}

.bg--footer {
  background: url('../public/footer-bg.png');
  background-position: contain;
  background-repeat: no-repeat;
position: relative;
  height: 40vh;
}

.icons--footer {
  list-style: none;

}

.footer---flex {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  position: relative;
top: 70%;


}

.copy {
  color: white;
  font-weight: 200;
  font-size: 0.8rem;
  text-align: center;
}
.loading--img{
  width: 50%;
 animation: heartbeat 2s infinite;
 max-width: 300px;
}
.loading--page{



  text-align: center;
  color: #eee; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
 



 
 



}





/***********************************************Media Que*******************************************************/




@media screen and (max-width:900px)  {

  .toAnimate {
    font-size: 2rem;
  }
  .news--text {
    width: 30%;
    padding: 0 2em;
    font-size: 1rem;
  
  }
  
  
 
}



@media screen and (max-width:780px)  {


  .contact--box {
    display: flex;
  
    width: 30%;
    margin-top: 8em;
    justify-content: center;
    align-items: center;
  
  }

  .form--box {
    
    margin: 0 auto;
    
  
    width: 70%;
  
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    width: 100%;
  
    
  
  
  
  
  }
  .btn--send {
    width: 100px;
    margin: 0 auto;
    height: 3em;
    grid-column: 1/3;
  

}


.items--nav {
  color: #eee;
  width: 70%;
  font-size: 0.95rem;

}

.items--nav--social--btn button {
  text-align: center;
  border-radius: 5px;
  border: 1px solid #eee;
  padding: 0.4em;
  margin: 0 0.2em;
  background-color: transparent;
  cursor: pointer;
  transition: 1s;



}
.news--form {

  height: 3rem;

}
.news--form input {
 
  height: 3rem;
 
}
.btn--sub--news {
 
  height: 100%;
  
}






}




@media screen and (max-width:730px)  {
  .title {
    min-width: 250px;
 }

  .nav--contenair{
   width: 90%; 
transition: 1s;
overflow-x: hidden;
  }



 .nav--mobile--flex{
  overflow-x: hidden;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  transition: 1s;

 }
  .menu--icon{
    color: #eee;
    font-size:2rem;
    margin-right: 0.8em;
    font-weight: 600;
    overflow-x: hidden;
  }
  .box--nav--mobile{
    position: fixed;
    right: 0;
    /* transform: translateX(-100%); */
   
    overflow-x: hidden;
    backdrop-filter: blur(100px);
    height: 200vh;
 
     width: 40%;
    z-index: 101;

  }



  .items--nav--mobile{
margin-top: 6em;
    list-style: none;
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    

  }
  .items--nav--mobile li{
margin: 2em 0;
font-size: 1.3rem;

  }
 
  .items--nav--social--btn--mobile button{
    background-color: transparent;
    border: none;
    margin: 1em;
    border:1px solid rgba(0, 0, 0, 0.432);
  padding: 1em 1em;
  border-radius: 10px;
 
  }
  .items--nav--social--btn--mobile button:hover{

    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);

 
}
.exit--nav--icon{
  color: #eee;
    font-size:2rem;
    margin-right: 0.8em;
    font-weight: 600;
    position:absolute;
    right:0;
    margin-top: 2em;

    overflow-x: hidden;

}
.news--box--flex {

  flex-direction: column;

}
.news--text {
  width: 90%;
  padding: 0 2em;
  height: 60%;
  text-align: center;
 



}
.news--text span{
 margin-top: 3em;
 display: block;
}
.news--form {
width: 80%;

}
.news--box--flex {
  width: 90%;

}
.btn--sub--news {
  padding: 0.7em 3em;
  
}
}



@media screen  and (max-width:500px){
  .proj-imgbx:hover::before {
    height: 0;
  
  }
  .proj-imgbx:hover .proj-txtx {

    opacity: 0;
  }
  .items--nav--mobile li{
    margin: 2em 0;
    font-size: 1rem;
    
      }
    .items--nav--mobile{
      margin-top:8em ;
    }

    .jobs--grid {


      display: grid;
      grid-template-columns: 1fr 1fr ;
      gap: 2em;
     
    }
    .toAnimate {
    width: 100%;
    height: 6rem;
    margin-bottom: 0;
    }
    
    .text { 
      width: 80%;

    }
    .text p{
      font-size: 0.8rem;
    }

    .flex{
      top:7em;
    }
  }


@media  screen and (max-width:430px) {
 


  
  .form--box {
    margin: 0 auto;
    width:80%;
  }
  .grid {

    display: grid;
    grid-template-columns: 1fr;
    gap: 1.3em;
    width: 100%;
    justify-content: center;
    align-items: center;
  
  
  
  }
  .grid input,
textarea {
  grid-column: 1/1;
  height: 3rem;
  width: 100%;


}
.grid textarea {
  width: 95%;
}


.project--text p {

  font-size: 1em;
  width: 100%;
  

}
.box--nav--mobile{
  width: 50%;
}



}


































































@keyframes updown {
  0% {

    transform: translateY(-1.3em) scale(80%);
  }

  50% {

    transform: translateY(1.3em) scale(80%);
  }

  100% {

    transform: translateY(-1.3em) scale(80%);
  }

}




@keyframes typing {
  0% {
    width: 0%
  }

  50% {
    width: 100%
  }

  100% {
    width: 0%
  }
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent
  }

  50% {
    border-color: rgb(175, 175, 175);
  }
}

@keyframes rideau {

  0% {
    height: 0%;
    opacity: 0;

  }

  100% {
    height: 100%;
    opacity: 1;

  }
}



@keyframes heartbeat{

0%{
  opacity:1 ;
 
}
50%{
  opacity: 0.5; transform: scale(90%);
}
100%{
  opacity:1 ;
}
}

@keyframes mouve{

  0%{
    transform: translateX(-20%);
  }

  50%{
    transform: translateX(20%);
  }
  
  100%{
    transform: translateX(-20%);
  }

  }




  @keyframes scale {
    0%{
      transform: scale(100%)
    }
    50%{
      transform: scale(110%)
    }
    100%{
      transform: scale(100%)
    }
  }

  .imganim{
    animation: formani 1s forwards linear  ;
    animation-delay: 0.1s; 
  }

  
  .formeanim{
    animation: formani 1s forwards linear  ;
    animation-delay: 0.1s; 
  }

  @keyframes formani {
0%{
  transform: scale(0.5);
    opacity: 0;

}
100%{
  opacity: 1;
  transform: scale(1);
}
    
  }